#name {
  font-family: "Comfortaa";
  margin-left: 1em;
  height: 50px;
  width: 400px;
  max-width: 40%;
  font-size: 20;
  border-radius: 10px;
  border: none;
  border: 1px solid black;
  outline: none;
}

#event-legend{
  border-radius: 10px;
}

span {
  margin-left: 20px;
}

span, legend {
  font-size: 24;
}

.buffer {
  margin-top: 50px;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

fieldset label {
  display: block;
}

fieldset input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 150px;
  width: 250px;
}

.type-content {
  background-color: #A3BF8F;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 250px;
}

.type-container:hover .type-content {
  color: rgba(0, 0, 0, 1);
  background-color: #bedea7;
}

.type-container input:checked ~ .type-content {
  background-color: #bedea7;
}

.hidden {
  display: none;
}

#form-submit:hover {
  cursor: pointer;
}

#file-picker {
  display: none;
}

#file-name {
  margin-left: 0px;
}

#file-wrapper {
  margin-top: 20px;
  cursor: pointer;
}