body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

.background{
  background-color: #9CBCD9;
}

.navbar{
  background-color: #011C40;
  width: 100vw;
  height: 69px;

}

#page-title{
  text-align: center;
  font-size: 40;
}

.logo{
  display: block;
  /* margin:auto; */
  width: 124.2px;
  height: 69px;
}

.create-bracket-button{
  font-family: "Comfortaa";
  display: block;
  margin: auto;
  width: 400px;
  height: 75px;
  font-size: 20;
  background-color: #A3BF8F;
  border-radius: 15px;
  /* border: 1px solid lightgray; */
}

.choose-bracket-button.create-bracket-button{
  position: static;
  /* margin-right: 50px; */
}

#left-button{
  position: absolute;
  margin-left: 250px;
}

#right-button{
  position: relative;
  margin-right: 250px;
}

#create-tournament-beaver{
  width: 200px;
}

.create-bracket-button:hover{
  width: 420px;
  height: 80px;
  font-size: 30;
  color: white;
  font-weight: 600;
  box-shadow: 0, 5px, 10px, rgb(181, 173, 25);
}

.beaver-pencil{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
  margin-top: 15vh;
}