body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  color: #011C40;
}

.background{
  /* background-color: #9CBCD9; */
  /* background-image: linear-gradient(180deg, #9CBCD9,rgba(81, 133, 182, 0.4) );  */
  background-image: linear-gradient(90deg, #9CBCD9,rgba(81, 133, 182));
}

.navbar{
  background-color: #011C40;
  width: 100vw;
  height: 69px;

}

#page-title{
  /* animation: float 6s ease-in-out infinite; */
  text-align: center;
  font-size: 40;
  position: absolute;
  margin-left: 200px;
  margin-top: 10px;
  color: #9CBCD9;
}

.logo{
  display: block;
  /* margin:auto; */
  width: 124.2px;
  height: 69px;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* body {
  background: #e3f2fd;
} */

.select-menu {
  max-width: 330px;
  margin-right: 20px;
  margin-top: 10px;
  float: inline-end;
}

.select-menu .select-btn {
  display: flex;
  height: 55px;
  background: #ffffff00;
  padding: 10px;
  margin-right: 10px;
  font-size: 2.5em;
  color: #fff;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-menu .select-btn:hover {
  background: #ffffff0c;
}

.select-menu .options {
  position: absolute;
  right: 20px;
  width: fit-content;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.select-menu .options .option:hover {
  background: #f2f2f2;
}

.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}

.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float-with-shadow {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.create-bracket-button{
  font-family: "Comfortaa";
  display: block;
  margin: auto;
  width: 400px;
  height: 75px;
  font-size: 20;
  background-color: #A3BF8F;
  border-radius: 15px;
  color: rgba(0,0,0,0.6);
  border: none;
  margin-bottom: 50px;
}

.choose-bracket-button.create-bracket-button{
  position: static;
  /* margin-right: 50px; */
}

#left-button{
  position: absolute;
  margin-left: 250px;
}

#right-button{
  position: relative;
  margin-right: 250px;
}

#create-tournament-beaver{
  animation: float 6s ease-in-out infinite;
  width: 200px;
  margin: auto;
}

.create-bracket-button:hover{
  /* width: 420px;
  height: 80px;
  font-size: 30;
  color: white;
  font-weight: 600; */
  box-shadow: 0px 0px 50px rgba(81, 133, 182, 0.4);
  color: rgba(0,0,0,1);
}

.beaver-pencil{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
  margin-top: 15vh;
  
}

#bracket{
  position: absolute;
  width: 300px;
  height: auto;
  margin-left: 280px;
  /* animation: float 6s ease-in-out infinite; */
}

#pool{
  position: absolute;
  width: 200px;
  height: 180px;
  margin-left: 1370px;
  margin-bottom: 300px;
  /* animation: float 6s ease-in-out infinite; */
}