body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #011C40;
}

.background{
  background-color: #9CBCD9;
}

.navbar{
  background-color: #011C40;
  width: 100vw;
  height: 69px;

}

#page-title{
  text-align: center;
}

.logo{
  width: 124.2px;
  height: 69px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e3f2fd;
}

.select-menu {
  max-width: 330px;
  margin-right: 20px;
  margin-top: 10px;
  float: inline-end;
}

.select-menu .select-btn {
  display: flex;
  height: 55px;
  background: #ffffff00;
  padding: 10px;
  margin-right: 10px;
  font-size: 2.5em;
  color: #fff;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-menu .select-btn:hover {
  background: #ffffff0c;
}

.select-menu .options {
  position: absolute;
  right: 20px;
  width: fit-content;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.select-menu .options .option:hover {
  background: #f2f2f2;
}

.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}

.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}