h2 {
  color: #B9BF04;
  font-size: 2em;
}

#event-title {
  margin-left: 50px;
}

#event-container {
  width: 100%;
  margin-bottom: 5%;
}

.sub-draw {
  text-align: center;
  height: max-content;
}

.sub-bracket {
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.navbar img {
  display: inline;
}

.select-menu {
  max-width: 330px;
  margin-top: 10px;
  float: inline-end;
}

.select-menu .select-btn {
  display: flex;
  height: 55px;
  background: #ffffff00;
  padding: 0px;
  margin-right: 10px;
  font-size: 2.5em;
  color: #fff;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-menu .select-btn:hover {
  background: #ffffff0c;
}

.select-menu .options {
  position: absolute;
  right: 20px;
  width: fit-content;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.select-menu .options .option:hover {
  background: #f2f2f2;
}

.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}

.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.hystmodal__window {
  border-radius: 4px;
  padding: 10px;
}

.formitem {
  margin-bottom: 5px;
}

.formitem input {
  font-family: "Comfortaa";
  margin: auto;
  height: 50px;
  max-width: 30%;
  font-size: 20;
  border-radius: 4px;
}

.formitem .score-input {
  max-width: 20%;
}

.side-by-side {
  display: inline-block;
}

.side-by-side input {
  max-width: 80%;
}

h3 {
  display: block;
}

#event-tabs {
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  display: flex;
  align-items: end;
}

tbl {
  display: inline-block;
  max-width: 90%;
}

.tournament-header{
  padding: 0;
}

#event-tabs input {
  font-family: "Comfortaa";
  height: 40px;
  font-size: 10;
  background-color: #A3BF8F;
  color: rgba(0,0,0,0.6);
  max-width: 15%;
  border-bottom: none;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: grey; 
}

#event-tabs input:hover {
  cursor: pointer;
  padding-top: 10px;
  height: 50px;
}

#event-tabs .open {
  padding-top: 10px;
  height: 50px;
  background-color: #bedea7;
}

#pool-play-wrapper{
  text-align: center;
  line-height: 2vh;
  letter-spacing: 0.1vw;
}

tbl {
  border-color: #000;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}

.cell-wrapper{
  align-items: center;
  line-height: 1.3em;
  border-color: #000;
  border-width: 1px;
  padding: 13px;
  padding-top: 10px;
  padding-bottom: 6px;
  border-style: solid;
}

.cell-wrapper:hover {
  cursor: pointer;
  border-color: #B9BF04;
}

.pool-title{
  color: #B9BF04;
  font-size: 2em;
}

#pool-play-designator{
  text-align: center;
}
